@font-face {
	font-family: scadaregular;
	src: url(../fonts/Scada-Regular.ttf);
}
@font-face {
	font-family: scadabold;
	src: url(../fonts/Scada-Bold.ttf);
}
body {
	font-family: scadaregular;
}
.clear {
	width: 100%;
	height: 0;
	clear: both;
}
/*.wrapper {
	width: 1010px;
	margin: 0 auto;
}*/
/*МОДАЛЬНОЕ ОКНО - ФОРМА ЗАКАЗА*/
#modal {
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 75, 125, 0.75);
	z-index: 9999;
}
	.modal-inner {
		width: 1010px;
		margin: 0 auto;
	}
	.modal-inner form {
		width: 660px;
		height: 970px;
		margin: 0 auto;
		margin-top: 195px;
		background-color: #FFFFFF;
		border-radius: 5px;
		position: relative;
		padding: 60px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
		#modal-zakaz > label {
			display: block;
			margin-bottom: 15px;
			color: #818181;
		}
			#modal-zakaz > label.inline {
				display: inline-block;
				padding-left: 20px;
				height: 20px;
				width: 200px;
				vertical-align: top;
				margin-bottom: 25px;
			}
		#modal-zakaz > input {
			display: block;
			margin-bottom: 25px;
			width: 473px;
			height: 27px;
			border: 3px solid #D1D1D1;
			border-radius: 4px;
		}
			#modal-zakaz > input[type=radio] {
			display: none;
			}
			#modal-zakaz > input[type=radio] + label {
				background: url('../images/radio.png') no-repeat 0 2px;
			}
			#modal-zakaz > input[type=radio]:checked + label {
				background: url('../images/radio-active.png') no-repeat 0 2px;
			}
		#modal-zakaz-submit {
			display: inline-block;
			padding: 20px 140px;
			color: #FFFFFF;
			background-color: #E5097F;
			text-decoration: none;
			position: absolute;
			bottom: 40px;
			left: 150px;
			font-family: scadabold;
			font-size: 16px;
			border-radius: 4px;
			transition: opacity .3s;
		}
		#modal-zakaz-submit:hover {
			opacity: 0.75;
		}
		.sposob-oplati {
			color: #818181;
			font-family: scadabold;
			margin-bottom: 15px;
		}
	.modal-zakaz-line {
		display: block;
		width: 540px;
		height: 2px;
		background-color: #E8E8E8;
		margin-bottom: 30px;
	}
	.modal-inner p {
		display: block;
		position: absolute;
		top: 52px;
		left: 230px;
		padding: 0 16px;
		background-color: #FFFFFF;
		color: #818181;
		font-family: scadabold;
	}
	.modal-inner .vibor {
		display: inline-block;
		width: 275px;
		color: #818181;
		padding-top: 20px;
	}
		.vibor span, .vibor input {
			display: inline-block;
			margin-bottom: 10px;
		}
		.vibor label {
			display: inline-block;
			height: 20px;
			padding-left: 20px;
			padding-right: 20px;
			margin-bottom: 20px;
		}
		/*РАДИО-КНОПКИ*/
		.vibor input[type=radio] {
			display: none;
		}
		.vibor input[type=radio] + label {
			background: url('../images/radio.png') no-repeat 0 2px;
		}
		.vibor input[type=radio]:checked + label {
			background: url('../images/radio-active.png') no-repeat 0 2px;
		}
		.vibor input[type=text] {
			height: 20px;
			width: 25px;
			border: 3px solid #D1D1D1;
			margin: 8px 5px;
		}
		.vibor .sum {
			padding-top: 10px;
			color: #383838;
			font-size: 18px;
			font-family: scadabold;
			margin-bottom: 25px;
		}
	.modal-inner .opisanie {
		width: 150px;
		height: 50px;
		padding-top: 150px;
		position: absolute;
		top: 90px;
		right: 115px;
		text-align: center;
	}
		.opisanie a {
			color: #009BD4;
			font-size: 18px;
			font-family: scadabold;
		}
		.opisanie.detskiy {
			background: url('../images/detskiy.png') no-repeat 0 0;
		}
		.opisanie.vzrosliy {
			background: url('../images/detskiy.png') no-repeat 0 0;
			display: none;
		}
	.modal-inner form .close-button {
		width: 53px;
		height: 53px;
		border-radius: 27px;
		position: absolute;
		top: -27px;
		right: -27px;
		display: block;
		cursor: pointer;
		background: url('../images/close-button.png') no-repeat 0 0;
	}
/* СТИЛИ ДЛЯ ШАПКИ */
.top {
	height: 228px;
	border-bottom: 8px solid #E8629C;
	position: relative;
}
	.top header, .top-of-content {
		width: 1010px;
		margin: 0 auto;
	}
	.top .logo {
		display: inline-block;
		width: 180px;
		height: 120px;
		background: url('../images/logo.png') no-repeat 3px 39px;
		cursor: pointer;
	}
	.top .slogan {
		display: inline-block;
		width: 560px;
		height: 47px;
		border-left: 2px solid #D1D1D1;
		vertical-align: top;
		margin-top: 57px;
		color: #797C7B;
		font-size: 12px;
		padding-left: 50px;
		padding-top: 18px;
		line-height: 16px;
	}
	.top .socials {
		display: inline-block;
		width: 195px;
		color: #797C7B;
		font-size: 12px;
		text-align: right;
	}
	.top .socials p {
		margin-bottom: 5px;
	}
	.top .socials a {
		display: inline-block;
		width: 37px;
		height: 37px;
		background: url('../images/socials.png') no-repeat 0 0;
		margin-left: -2px;
		transition-property: opacity;
		transition-duration: .3s;
	}
		.top .socials a.vk {
			background-position: 0 0;
		}
		.top .socials a.mail {
			background-position: -37px 0;
		}
		.top .socials a.ya {
			background-position: -74px 0;
		}
		.top .socials a.pen {
			background-position: -111px 0;
		}
		.top .socials a.od {
			background-position: -148px 0;
		}
		.top .socials a:hover {
			opacity: 0.75;
		}
	/*МЕНЮ В ШАПКЕ*/
	.top nav {
		background-color: #33174A;
		border-radius: 4px 4px 0 0;
		padding: 10px 5px 10px 8px;
		position: absolute;
		bottom: -3px;
		width: 1010px;
		height: 80px;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	.top ul {
		padding-top: 3px;
	}
	.top li {
		display: inline-block;
		position: relative;
		margin-left: -2px;
		text-align: center;
		height: 59px;
		width: 147px;
	}
	.top nav a {
		display: block;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 14px;
		padding-top: 23px;
		height: 36px;
		transition-property: background-color;
		transition-duration: .3s;
	}
		.top .upper-text a{
			padding-top: 13px;
			height: 46px;
		}
		.top li.upper-text {
			top: -10px;
			width: 152px;
		}
	.top nav a:hover, .top nav a.active {
		background-color: #795A93;
	}
	.top li:first-child {
		border-radius: 4px 0 0 0;
	}
		.top li:first-child a {
			border-radius: 4px 0 0 0;
		}
	.top li:last-child {
		border-radius: 0 4px 0 0;
		background-color: #E8619B;
		width: 245px;
	}
		.top li:last-child a {
			border-radius: 0 4px 0 0;
		}
	.top li:last-child a, .top span.red{
		background-color: #E8619B;
	}
			/*иконки для меню*/
			.top li .menu-icon {
				display: block;
				position: absolute;
			}
			.top li:nth-child(1) .menu-icon {
				height: 26px;
				width: 16px;
				top: 15px;
				left: 10px;
				background: url('../images/menu-icon-1.png') no-repeat 0 0;
			}
			.top li:nth-child(2) .menu-icon {
				height: 19px;
				width: 67px;
				top: 30px;
				left: 45px;
				background: url('../images/menu-icon-2.png') no-repeat 0 0;
			}
			.top li:nth-child(3) .menu-icon {
				height: 25px;
				width: 11px;
				top: 16px;
				left: 8px;
				background: url('../images/menu-icon-3.png') no-repeat 0 0;
			}
			.top li:nth-child(4) .menu-icon {
				height: 23px;
				width: 15px;
				top: 18px;
				left: 23px;
				background: url('../images/menu-icon-4.png') no-repeat 0 0;
			}
			.top li:nth-child(5) .menu-icon {
				height: 23px;
				width: 24px;
				top: 18px;
				left: 16px;
				background: url('../images/menu-icon-5.png') no-repeat 0 0;
			}
	.top span {
		display: inline-block;
		width: 3px;
		height: 65px;
		border-radius: 2px;
		background-color: #795A93;
		position: absolute;
		right: -3px;
		top: -3px;
	}
/*СЛАЙДЕР С ФОРМОЙ ЗАКАЗА*/
.main {
	background: #FFFFFF;
	background-image: linear-gradient(to bottom, #C2E8FB 0%, #FFFFFF 240px);
}
.top-of-content {
	height: 365px;
	position: relative;
}
	.slide1, .slide2 {
		width: 749px;
		height: 355px;
		position: absolute;
		top: 0;
		left: 0;
		transition: opacity 3s;
	}
	.slide1 {
		background: url('../images/slide1.jpg') no-repeat 0 -10px;
	}
	.slide2 {
		background: url('../images/slide2.jpg') no-repeat 0 -10px;
		opacity: 0;
	}
	.slider-right {
		position: absolute;
		right: 0;
		top: 0;
		width: 266px;
		height: 355px;
		background: url('../images/slider-right.png') no-repeat 0 0;
		color: #795A93;
	}
		.slider-right > span {
			display: block;
			position: absolute;
			top: 12px;
			right: 77px;
			width: 103px;
			height: 15px;
			background-color: #E8F6FF;
			text-align: center;
			font-family: scadabold;
			font-size: 18px;
		}
		.slider-right form {
			width: 224px;
			border: 7px solid #795A92;
			border-radius: 4px;
			margin: 20px auto;
			padding: 10px 20px 5px 15px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		.slider-right form p {
			font-size: 9px;
			margin-bottom: 7px;
		}
		.slider-right form label {
			display: block;
			font-size: 10px;
			margin-bottom: 5px;
		}
		.slider-right form input {
			display: block;
			width: 172px;
			height: 15px;
			border-radius: 2px;
			margin-bottom: 7px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
		.slider-right form textarea {
			resize: none;
			width: 172px;
			height: 30px;
			border-radius: 2px;
			margin-bottom: 7px;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
		}
			.slider-right form input:hover,
			.slider-right form input:focus,
			.slider-right form textarea:hover,
			.slider-right form textarea:focus {
				border: 1px solid #795A92;
			}
		.slider-right form a {
			display: inline-block;
			font-size: 10px;
			color: #FFFFFF;
			padding: 5px 15px;
			border-radius: 2px;
			background-color: #795A92;
			text-decoration: none;
			float: right;
		}
		.slider-right .telefoni {
			width: 224px;
			height: 55px;
			position: absolute;
			left: 20px;
			bottom: 80px;
			background: url('../images/telefoni.png') no-repeat 0 5px;
			font-size: 16px;
		}
		.slider-right .telefoni p {
			display: block;
		}
		.slider-right .email {
			width: 224px;
			height: 41px;
			position: absolute;
			left: 20px;
			bottom: 2px;
			background: url('../images/email.png') no-repeat 0 0;
			padding-top: 13px;
		}
			.slider-right .telefoni, .slider-right .email {
				font-size: 14px;
				text-align: right;
				
			}
			.slider-right .telefoni p > span, .slider-right .email  p > span {
				font-family: scadabold;
			}
.plashka {
	width: 1010px;
	height: 12px;
	background-color: #3F2554;
	border-radius: 0 0 4px 4px;
	position: absolute;
	left: 0;
	bottom: 0;
}
/*КОНТЕНТ*/
.content {
	width: 1010px;
	margin: 0 auto;
}
article {
	width: 1010px;
	margin: 0 auto;
	padding: 40px 50px 20px 10px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article figure {
	float: left;
	width: 171px;
	height: 167px;
	overflow: hidden;
}
	figure img {
		width: 100%;
	}
article section {
	margin-top: -10px;
	padding-left: 216px;
	position: relative;
}
	section h2 {
		display: inline-block;
		color: #795A93;
		font-family: scadabold;
		font-size: 22px;
		padding-bottom: 15px;
	}
	section a {
		display: block;
		color: #1EB0DC;
		font-size: 14px;
	}
	article section p {
		display: inline-block;
		color: #777777;
		font-size: 13px;
		padding-top: 15px;
		margin-bottom: 35px;
	}
	section a.read-more {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		text-decoration: none;
		color: #FFFFFF;
		padding: 10px;
		background-color: #795A92;
		border-radius: 2px;
		font-size: 12px;
	}
	.content nav {
		display: block;
		margin-left: 80px;
	}
	.content nav span {
		color: #777777;
	}
	.content nav ul {
		display: inline-block;
		height: 31px;
		margin-bottom: 35px;
		padding-left: 25px;
	}
	.content nav li {
		display: inline-block;
		width: 31px;
		height: 31px;
		text-align: center;
		background: url('../images/nav-inactive.png') no-repeat 0 0;
	}
	.content nav li a {
		color: #4CC5E9;
		display: inline-block;
		width: 31px;
		height: 31px;
		font-size: 18px;
		line-height: 31px;
		vertical-align: middle;
		text-decoration: none;
	}
	.content nav li:hover,
	.content nav li.active {
		background-color: #4CC5E9;
	}
	.content nav li:hover a,
	.content nav li.active a {
		color: #FFFFFF;
	}
article.full {
	position: relative;
}
	.full img.left {
		float: left;
	}
	.full img.right {
		float: right;
	}
	.full p {
		color: #777777;
		font-size: 16px;
		margin-bottom: 35px;
	}
	.full h2 {
		display: inline-block;
		color: #795A93;
		font-family: scadabold;
		font-size: 22px;
		padding-bottom: 15px;
	}
	.full a.button {
		display: inline-block;
		text-decoration: none;
		color: #FFFFFF;
		padding: 10px;
		background-color: #795A92;
		border-radius: 2px;
		font-size: 12px;
		margin-left: 900px;
	}
/*ФУТЕР*/
footer {
	height: 100px;
	width: 1010px;
	margin: 0 auto;
	background-color: #3F2554;
	border-radius: 0 0 4px 4px;
	position: relative;
	font-size: 14px;
}
footer span, footer a {
	display: inline-block;
	position: absolute;
}
	footer a	{
		height: 14px;
		line-height: 14px;
		vertical-align: middle;
		padding-left: 18px;
		color: #91E4FD;
		background: url('../images/kruzhok.png') no-repeat 0 0;
		top: 25px;
		left: 360px;
	}
	footer .voprosi {
		color: #FFFFFF;
		top: 25px;
		right: 220px;
	}
	footer .contacts {
		color: #FFFFFF;
		width: 200px;
		top: 21px;
		right: 55px;
		line-height: 20px;
		text-align: right;
		font-size: 16px;
	}
	footer .ugolok {
		width: 17px;
		height: 13px;
		top: 20px;
		right: 20px;
		background: url('../images/ugolok.png') no-repeat 0 0;
		cursor: pointer;
	}
	footer .copyright {
		color: #FFFFFF;
		bottom: 25px;
		left: 360px;
	}